language: php
sudo: required
dist: trusty

matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2
      env:
        - CS_CHECKS=true
        - SEND_COVERAGE=true
        - PHPSTAN=true
        - INFECTION=false
    - php: 7.3
    - php: 7.4snapshot
    - php: nightly
  allow_failures:
    - php: nightly
    - php: 7.4snapshot

before_script:
  # Debug Java version
  - java -version
  # Creating the test database
  - mysql -e "DROP DATABASE IF EXISTS phpunit_soluble_test_db;" -uroot
  - mysql -e "create database phpunit_soluble_test_db;" -uroot
  - zcat test/data/mysql/schema.sql.gz | mysql -uroot phpunit_soluble_test_db
  - zcat test/data/mysql/data.sql.gz | mysql -uroot phpunit_soluble_test_db
  # Setting up some directories
  - mkdir build
  - mkdir -p build/logs
  - mkdir -p test/logs
  # Build and launch a JavaBridge server in background
  - ./.travis/launch_javabridge_server.sh
  # On travis Javabridge needs some time to
  # be fully running, assume 6 seconds
  # and show the log file
  - sleep 6 && cat ./.travis/webapp-runner.8083.log
  - composer --ignore-platform-reqs install

script:
  - ./vendor/bin/phpunit -c .travis/phpunit.xml -v --coverage-clover=coverage.xml
  - if [[ $CS_CHECKS == true ]]; then ./vendor/bin/php-cs-fixer --diff --dry-run -v fix; fi
  - if [[ $PHPSTAN == true ]]; then composer phpstan; fi
  - if [[ $INFECTION == true ]]; then ./vendor/bin/infection --configuration=.travis/infection.travis.json --test-framework=phpunit --min-msi=40 --min-covered-msi=40 --threads=4; fi

after_script:
  - if [[ $SEND_COVERAGE == true ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ $SEND_COVERAGE == true ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.xml; fi
  - if [[ $SEND_COVERAGE == true ]]; then bash <(curl -s https://codecov.io/bash); fi
