includes:
	#- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
	level: 5
	fileExtensions:
		- php
		- dist
	excludes_analyse:
		- src/Soluble/Japha/Bridge/Driver/Pjb62/NativeParser.php
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# By nature the bridge proxies Java object and methods.
		- '#Call to an undefined method Soluble\\Japha\\Interfaces\\JavaObject::#'
		- '#Call to an undefined method Soluble\\Japha\\Interfaces\\JavaClass::#'
		- '#Access to an undefined property Soluble\\Japha\\Interfaces\\JavaObject::\$#'
		# Originally thoses classes does not call parent constructor (PHP4 leftoffs)
		- '#Driver\\Pjb62\\JavaClass::__construct\(\) does not call parent constructor#'
		- '#Driver\\Pjb62\\SocketChannel::__construct\(\) does not call parent constructor#'
		- '#Driver\\Pjb62\\InternalJava::__construct\(\) does not call parent constructor#'
		- '#Driver\\Pjb62\\JavaProxyProxy::__construct\(\) does not call parent constructor#'
		- '#Driver\\Pjb62\\Exception\\InternalException::__construct\(\) does not call parent constructor#'
		- '#Driver\\Pjb62\\SimpleHttpHandler::__construct\(\) does not call parent constructor#'
		# To prevent issues in client. The type of $this->arg is known at runtime (Arg|CompositeArg)
		- '#Call to an undefined method Soluble\\Japha\\Bridge\\Driver\\Pjb62\\Arg::setIndex\(\)#'
		- '#Call to an undefined method Soluble\\Japha\\Bridge\\Driver\\Pjb62\\Arg::setNextIndex\(\)#'
		-
			message: '#Result of method (.*)JavaProxy::offsetSet\(\) \(void\) is used.#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/AbstractJava.php
		-
			message: '#Result of method (.*)JavaProxy::offsetUnset\(\) \(void\) is used.#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/AbstractJava.php
		-
			message: '#Instanceof between null and Soluble\\Japha\\Bridge\\Driver\\Pjb62\\ApplyArg will always evaluate to false#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/Client.php
		-
			message: '#should return string(.*) but return statement is missing#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/SocketChannel.php
		-
			message: '#should return string(.*) but return statement is missing#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/SocketHandler.php
		-
			message: '#should return int|null but return statement is missing#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/HttpTunnelHandler.php
		-
			message: '#between 1 and 1 is always false#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/Client.php
		-
			message: '#Unreachable statement - code above always terminates.#'
			path: src/Soluble/Japha/Bridge/Driver/Pjb62/Client.php
