<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./test/bootstrap.php"
>

    <php>
        <!--
            AUTORUN_PJB_STANDALONE : boolean

              * Only work on Linux system with a JVM installed *

              If you want to automatically download, install and run
              the original PHPJavaBridge standalone server. This
              feature allows CI systems to run tests with minimal
              configuration.An correct example of servlet_address
              could be http://127.0.0.1:8083/servlet.phpjavabridge,
              Feel free to change the port.

              (if false, you have to get a tomcat server running)
        -->

        <server name="AUTORUN_PJB_STANDALONE" value="true" />
        <server name="PJB_SERVLET_ADDRESS" value="http://127.0.0.1:8083/servlet.phpjavabridge" />

        <!--
           to run the test suite on tomcat please increase
           the heap memory in /etc/default/tomcat7:
           JAVA_OPTS="-Djava.awt.headless=true -Xmx512m -XX:+UseConcMarkSweepGC"
        -->
        <!--
        <server name="AUTORUN_PJB_STANDALONE" value="false" />
        <server name="PJB_SERVLET_ADDRESS" value="http://127.0.0.1:8080/javabridge-bundle/servlet.phpjavabridge" />
        -->


        <!--
            Configure connection to mysql server for testing
            mysql jdbc connection

        -->
        <server name="JAPHA_ENABLE_JDBC_TESTS" value="false" />

        <server name="MYSQL_DRIVER" value="Mysqli" />
        <server name="MYSQL_HOSTNAME" value="127.0.0.1" />
        <server name="MYSQL_USERNAME" value="root" />
        <server name="MYSQL_PASSWORD" value="" />
        <server name="MYSQL_DATABASE" value="phpunit_soluble_test_db" />


        <!-- third party tests, ensure your bridge server has the deps installed -->
        <server name="JAPHA_ENABLE_CORENLP_TESTS" value="false" />
        <server name="JAPHA_ENABLE_JSONIO_TESTS" value="false" />
        <server name="JAPHA_ENABLE_GSON_TESTS" value="false" />


        <server name="PHPUNIT_CACHE_DIR" value="./test/tmp/cache" />
        <ini name="date.timezone" value="Europe/Brussels"/>

        <!-- Default charset: Still errors if different from UTF-8 -->
        <ini name="default_charset" value="UTF-8"/>
        <!--
        <ini name="default_charset" value="latin1"/>
        -->

    </php>

    <testsuites>
        <testsuite name="soluble/japha">
            <directory>./test/src/SolubleTest/Japha</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <!--
            <exclude>
                <file>./src/Soluble/Japha/Bridge/Driver/Pjb62/SimpleParser.php</file>
            </exclude>
            -->
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./test/build/logs/clover.xml"/>
        <log type="coverage-html" target="./test/build/html-coverage" />
    </logging>
</phpunit>
