<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
             xmlns="http://java.sun.com/xml/ns/javaee"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">


    <!-- Prefer a system PHP executable, if available.
         Otherwise use the PHP from the .war file. Default is On
    -->
    <context-param>
        <param-name>prefer_system_php_exec</param-name>
        <param-value>On</param-value>
    </context-param>

    <!-- Location of your system PHP executable. Default is /usr/bin/php-cgi or c:/Program Files/PHP/php-cgi.exe
         If exported (Linux) or on the path (Windows) you can use 'php-cgi' as a platform
         independent pointer to the executable
    -->
    <context-param>
        <param-name>php_exec</param-name>
        <param-value>php-cgi</param-value>
        <!-- As an example, the param value
             of the php-cgi executable could be:
                <param-value>/usr/bin/php-cgi5.6</param-value>
                <param-value>/usr/bin/php-cgi7.0</param-value>
                <param-value>c:/Program Files/PHP/php-cgi.exe</param-value>
        -->
    </context-param>


    <!--
    ######################################################################
    # Servlet filter registrations                                       #
    ######################################################################
    -->
    <!-- Handle PHP urls which cannot be expressed using a standard servlet spec 2.2 url-pattern,
         e.g.: *.php/delete/from?what=that You may remove this and the filter-mapping below
    -->
    <filter>
        <filter-name>PhpCGIFilter</filter-name>
        <filter-class>io.soluble.pjb.servlet.PhpCGIFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PhpCGIFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Attach the JSR223 script factory to the servlet context -->
    <listener>
        <listener-class>io.soluble.pjb.servlet.ContextLoaderListener</listener-class>
    </listener>


    <!--
    ######################################################################
    # Servlet registrations                                              #
    ######################################################################
    -->
    <servlet>
        <servlet-name>PhpJavaServlet</servlet-name>
        <servlet-class>io.soluble.pjb.servlet.PhpJavaServlet</servlet-class>
    </servlet>

    <!-- PHP CGI servlet: when IIS or Apache are not available -->
    <servlet>
        <servlet-name>PhpCGIServlet</servlet-name>
        <servlet-class>io.soluble.pjb.servlet.fastcgi.FastCGIServlet</servlet-class>
    </servlet>

    <!-- PHP Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>PhpJavaServlet</servlet-name>
        <url-pattern>*.phpjavabridge</url-pattern>
    </servlet-mapping>

    <!-- PHP CGI Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>PhpCGIServlet</servlet-name>
        <url-pattern>*.php</url-pattern>
    </servlet-mapping>

    <!-- Only for debugging purposes, let it off  -->
    <context-param>
        <param-name>php_include_debugger</param-name>
        <param-value>Off</param-value>
    </context-param>


    <!-- Welcome files -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <security-role>
        <description>
            PHP Javabridge access role
        </description>
        <role-name>phpjavabridge</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>PJB</web-resource-name>
            <url-pattern>*.phpjavabridge</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>phpjavabridge</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Unprotected Pages</web-resource-name>
            <url-pattern>/</url-pattern>
        </web-resource-collection>
    </security-constraint>


    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>JavaBridge</realm-name>
    </login-config>


</web-app>
